<footer class="container-fluid">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-lg-6 col-12 text-center text-lg-left">
                ©<%= new Date().getFullYear() %> <%- lang.employers.words.footer_1 %><br />
                <%- lang.employers.words.footer_2 %><br />
            </div>
            <div class="d-none d-lg-inline-block col-lg-6 text-right">
                    <span class="pr-5">
                        <img src="/img/logo/ub-logo.png" style="height: 50px; position: relative; top: -4px"/>
                    </span>
                <span class="pr-5">
                        <img src="/img/logo/sti-logo.png" style="height: 50px;"/>
                    </span>
            </div>
        </div>
    </div>
</footer>